<body>
    <div class="container-prim">
        <div class="card-body texto">
            <h5 class="card-title">Clinica Sana Sana</h5>
            <p class="card-text">Atención médica de calidad, <br>siempre cerca tuyo.</p>
        </div>

        <div class="opciones">
            <div class="card-body opcion">

                <p class="btn btn-primary" (click)="irLogin()">Inicia sesion</p>
            </div>


            <div class="card-body opcion">

                <p class="btn btn-primary dos" (click)="irRegistro()">Registrate</p>
            </div>
        </div>
    </div>

</body>