<body class="body">
    <div class="container">
        <div class="card paciente" routerLink="/registro_paciente" routerLinkActive="active-route">

            <div class="card-body">
                <a class="btn btn-primary">Registrate como paciente</a>
                <p class="card-text">Da el primer paso hacia una vida más saludable. Registrate y accede a nuestros
                    servicios</p>
            </div>
        </div>
        <div class="card doctor" routerLink="/registro_especialista" routerLinkActive="active-route">

            <div class="card-body">
                <a class="btn btn-primary">Registrate como especialista</a>
                <p class="card-text">Unite a una comunidad médica innovadora que apoya tu desarrollo profesional.
                    Registrate
                </p>
            </div>
        </div>
    </div>

</body>