<body class="body">
    <div class="container">
        <div class="card paciente">

            <div class="card-body">
                <a href="#" class="btn btn-primary" routerLink="/registro_paciente"
                    routerLinkActive="active-route">Registrate como paciente</a>
                <p class="card-text">Da el primer paso hacia una vida más saludable. Registrate y accede a nuestros
                    servicios</p>
            </div>
        </div>
        <div class="card doctor">

            <div class="card-body">
                <a href="#" class="btn btn-primary" routerLink="/registro_especialista"
                    routerLinkActive="active-route">Registrate como especialista</a>
                <p class="card-text">Unite a una comunidad médica innovadora que apoya tu desarrollo profesional.
                    Registrate
                </p>
            </div>
        </div>
    </div>

</body>
<router-outlet />