<header>

  <nav class="nav-container">
    <div class="user-dropdown" (click)="toggleDropdown()">
      <button class="user-button dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false"
        *ngIf="usuario_completo"> <img [src]="user.img1" alt="Foto de usuario" class="user-photo">Bienvenido, <br>
        {{usuario_completo}}</button>
      <div class="dropdown-menu" *ngIf="dropdownOpen">
        <button (click)="cerrarSesion()">Salir</button>
      </div>
    </div>
    <!-- COMUNES -->
    <a class="navbar-brand" routerLink="home" [ngClass]="{'ocultar': ocultar}"
      routerLinkActive="active-route">INICIO</a>

    <a class="navbar-brand" routerLink="registro" [ngClass]="{'ocultar': ocultar}"
      routerLinkActive="active-route">REGISTRATE</a>

    <a class="navbar-brand" routerLink="login" [ngClass]="{'ocultar': ocultar}" routerLinkActive="active-route">INICIA
      SESION</a>

    <!-- ADMIN -->
    <a class="navbar-brand ocultar" routerLink="admin-usuarios" [ngClass]="{'ocultar':  !mostrar}"
      routerLinkActive="active-route">USUARIOS</a>

    <a class="navbar-brand ocultar" routerLink="solicitar-turno-admin" [ngClass]="{'ocultar':  !mostrar}"
      routerLinkActive="active-route">SOLICITAR TURNO</a>

    <a class="navbar-brand ocultar" routerLink="ver-turnos-admin" [ngClass]="{'ocultar':  !mostrar}"
      routerLinkActive="active-route">TURNOS</a>

    <a class="navbar-brand ocultar" routerLink="informes" [ngClass]="{'ocultar':  !mostrar}"
      routerLinkActive="active-route">INFORMES</a>

    <!-- ESPECIALISTA -->
    <a class="navbar-brand ocultar" routerLink="perfil-especialista" [ngClass]="{'ocultar':  !mostrarEsp}"
      routerLinkActive="active-route">MI PERFIL</a>

    <a class="navbar-brand ocultar" routerLink="ver-turnos-especialista" [ngClass]="{'ocultar':  !mostrarEsp}"
      routerLinkActive="active-route">MIS TURNOS</a>

    <a class="navbar-brand ocultar" routerLink="mis-pacientes" [ngClass]="{'ocultar':  !mostrarEsp}"
      routerLinkActive="active-route">MIS PACIENTES</a>

    <!-- PACIENTES -->
    <a class="navbar-brand ocultar" routerLink="perfil-paciente" [ngClass]="{'ocultar':  !mostrarPac}"
      routerLinkActive="active-route">MI PERFIL</a>

    <a class="navbar-brand ocultar" routerLink="ver-turnos-paciente" [ngClass]="{'ocultar':  !mostrarPac}"
      routerLinkActive="active-route">MIS TURNOS</a>

    <a class="navbar-brand ocultar" routerLink="solicitar-turno" [ngClass]="{'ocultar':  !mostrarSolTurP}"
      routerLinkActive="active-route">SOLICITAR TURNO</a>



  </nav>
  <div>
    <a href="#">
      <img class="logo" src="../assets/images/logo-clinica.png" alt="logo" width="150px">
    </a>
  </div>
</header>
<app-loader></app-loader>
<footer>
  <div class="footer-container">
    <p class="copy">Paiz Belen 2024 &copy;</p>
  </div>
</footer>
<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>