<div class="container">
    <table class="table table-hover table-primary">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">DNI</th>
                <th scope="col">Email</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios" class="fila">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.edad }}</td>
                <td>{{ usuario.dni }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <img *ngIf="usuario.img1" [src]=" usuario.img1" alt="Imagen 1" width="50" height="50">
                </td>
            </tr>
        </tbody>
    </table>
</div>