<body>
    <div class="container">
        <div class="container-altas">

            <div class="card-body opcion">
                <p class="btn btn-primary altas" routerLink="/registro_paciente" routerLinkActive="active-route">Alta de
                    paciente</p>
            </div>

            <div class="card-body opcion">
                <p class="btn btn-primary altas dos" routerLink="/registro_especialista"
                    routerLinkActive="active-route">
                    Alta
                    de especialista</p>
            </div>

            <div class="card-body opcion">
                <p class="btn btn-primary altas tres" routerLink="/registro-admin" routerLinkActive="active-route">Alta
                    de
                    administrador
                </p>
            </div>

        </div>
        <div class="container-usuarios">
            <div class="card-body usuarios">
                <p class="btn btn-primary user" routerLink="/registro-admin" routerLinkActive="active-route">Usuarios
                </p>
            </div>
        </div>
    </div>
</body>
<router-outlet />