<body>
    <div class="container">
        <div class="container-buscador">
            <input type="search" class="form-control ds-input buscador" id="search-input"
                placeholder="Buscar en turnos..." aria-label="Search for..." autocomplete="off" spellcheck="false"
                role="combobox" aria-autocomplete="list" aria-expanded="false"
                aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"
                (input)="ingresoCaracter($event)">
        </div>
        <div>
            <h6 class="info">{{mensaje}}</h6>
        </div>


        <div class="container-listado">
            <div class="container-turno" *ngFor="let turno of turnosFiltrados">
                <form>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text desc"><span><img src="../../../assets/images/estrella.png"
                                        alt="calif" width="20px">{{turno.calificacion}}</span></div>
                        </div>
                        <input type="text" class="form-control dato" id="inlineFormInputGroupUsername2"
                            value="{{turno.especialidad}}" readonly>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text desc"><span><img src="../../../assets/images/fecha.png"
                                        alt="calif" width="20px"></span></div>
                        </div>
                        <input type="text" class="form-control dato" id="inlineFormInputGroupUsername2"
                            value="{{turno.dia}} {{turno.fecha}}" readonly>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text desc"><span><img src="../../../assets/images/hora.png"
                                        alt="calif" width="20px"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control dato" id="inlineFormInputGroupUsername2"
                            value="{{turno.hora}}" readonly>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text desc"><span class="tex">Paciente: </span>
                            </div>
                        </div>
                        <input type="text" class="form-control dato" id="inlineFormInputGroupUsername2"
                            value="{{turno.paciente}}" readonly>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text desc"><span class="tex">Especialista: </span>
                            </div>
                        </div>
                        <input type="text" class="form-control dato" id="inlineFormInputGroupUsername2"
                            value="{{turno.especialista}}" readonly>
                    </div>
                    <!-- botones -->
                    <div class="container-botones">
                        <button type="button" *ngIf="turno.estado === 'pendiente'" class="btn btn-primary"
                            data-bs-toggle="modal" [@botonEscalar]="isOpen() ? 'open': 'closed'"
                            [attr.data-bs-target]="'#modalVerEstado-' + turno.id">PENDIENTE</button>

                        <button type="button" *ngIf="turno.estado === 'cancelado'" class="btn btn-danger"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalVerEstado-' + turno.id">CANCELADO</button>

                        <button type="button" *ngIf="turno.estado === 'aceptado'" class="btn btn-success"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalVerEstado-' + turno.id">ACEPTADO</button>

                        <button type="button" *ngIf="turno.estado === 'rechazado'" class="btn btn-warning"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalVerEstado-' + turno.id">RECHAZADO</button>

                        <button type="button" *ngIf="turno.estado === 'finalizado'" class="btn btn-info"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalVerEstado-' + turno.id">FINALIZADO</button>

                        <button type="button" class="btn-outline-primary" data-bs-toggle="modal"
                            *ngIf="turno.comentario"
                            [attr.data-bs-target]="'#modalComentario-' + turno.id">COMENTARIO</button>

                        <button type="button" *ngIf="turno.estado === 'finalizado' && !turno.historia"
                            class="btn btn-secondary" (click)="irHc(turno.id)">COMPLETAR
                            HC</button>
                    </div>
                </form>

                <!-- Modal VER ESTADO -->
                <div class="modal fade" [attr.id]="'modalVerEstado-' + turno.id" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 fuente" id="exampleModalLabel">Estado actual:
                                    {{turno.estado}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" *ngIf="turno.estado === 'pendiente' || turno.estado === 'aceptado'">
                                <div class="mb-3">
                                    <textarea class="form-control fuente" id="message-text"
                                        [(ngModel)]="comentario"></textarea>
                                </div>
                                <button type="button" class="btn btn-danger" *ngIf="turno.estado === 'pendiente'"
                                    (click)="guardar_estado(comentario,turno.id, 'cancelado')"
                                    data-bs-dismiss="modal"><span><img src="../../../assets/images/cancelar.png" alt=""
                                            width="30px"></span>CANCELAR</button>

                                <button type="button" class="btn btn-warning" *ngIf="turno.estado === 'pendiente'"
                                    (click)="guardar_estado(comentario,turno.id, 'rechazado')"
                                    data-bs-dismiss="modal"><span><img src="../../../assets/images/cancelar.png" alt=""
                                            width="30px"></span>RECHAZAR</button>

                                <button type="button" class="btn btn-success" *ngIf="turno.estado === 'pendiente'"
                                    (click)="guardar_estado(comentario,turno.id, 'aceptado')"
                                    data-bs-dismiss="modal"><span><img src="../../../assets/images/aceptar.png" alt=""
                                            width="30px"></span>ACEPTAR</button>

                                <button type="button" class="btn btn-info" *ngIf="turno.estado === 'aceptado'"
                                    (click)="guardar_estado(comentario,turno.id, 'finalizado')"
                                    data-bs-dismiss="modal"><span><img src="../../../assets/images/finalizar.png" alt=""
                                            width="30px"></span>FINALIZAR</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary fuente"
                                    data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal COMENTARIO -->
                <div class="modal fade" [attr.id]="'modalComentario-' + turno.id" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 fuente" id="exampleModalLabel">Comentario - Reseña</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <textarea class="form-control fuente" id="message-text"
                                            readonly>{{turno.comentario}}</textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary fuente"
                                    data-bs-dismiss="modal">Cerrar</button>
                                <!-- <button type="button" class="btn btn-primary fuente">Actualizar comentario</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>